*
{
     margin:0;
     padding:0;
     box-sizing:border-box;
     font-family: 'poppins' ,sans-serif;
}

body
{
color:#ededed;
background:#081b29;
}

.header
{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:20px 10%;
  background:#051129;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:100

}

.logo{
  position:relative;
  font-size:25px;
  color:#fff;
  text-decoration:none;
  font-weight:500;
  cursor:default;
  opacity:0;
  animation:slideRight 1s ease forwards;
}

.navbar a
{
  display:inline-block;
  font-size: 22px;
  color:#fff;
  text-decoration: none;
  font-weight:500;
  margin-left:35px;
  transition:.3s;
  opacity:0;
  animation:slidetop .5s ease forwards;
  animation-delay:calc(.2s *var(--i)) ;
  
}

.navbar a:hover
{
  color:#0ef;
}

.home{
  position:relative;
  width:100%;
  justify-content:space-between;
  height:100vh;
  background:url("");
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  padding:70px 10% 0;
}

.home-content h3{
  font: size 32px;
  font-weight:700;
  opacity:0;
  animation:slidebottom 1s ease forwards;
  animation-delay:.7s;
}

.home-content h3:nth-of-type(2){
  margin-bottom:30px;
  animation:slidetop 1s ease forwards;
  animation-delay:.7s;
}
.home-content h3 span{
  color:#0ef;
}
.home-content h1{
  font-size:40px;
  font-weight:700;
  margin:-3px 0;
  opacity:0;
  animation:slideRight 1s ease forwards;
  animation-delay:1s;


}

.home-content p{
  font-size:20px;
  opacity:0;
  animation:slideleft 1s ease forwards;
  animation-delay:1s;

}
.home-content img{
  margin-left:1000px;
  height:400px;
  width:200px;
  border-radius:20%;
}

.home-sci a{
  display:inline-flex;
  justify-content:center;
  align-items:center;
  width:40px;
  height:40px;
  background:transparent;
  border:2px solid #0ef;
  border-radius:50%;
  font-size:20px;
  color:#0ef;
  text-decoration:none;
  transition:.5s ease;
  opacity:0;
  animation:slideleft 1s ease forwards;
  animation-delay:calc(.2s *var(--i));

  margin:30px 15px 30px 0;
}
  
.home-sci a:hover{
  background:#0ef;
  color:#081b29;
  box-shadow:0 0 20px #0ef;

}
.btn-box{
  display:inline-block;
  padding:12px 28px;
  background:#0ef;
  border-radius:40px;
  font-size:14px;
  color:#081b29;
  letter-spacing:1px;
  text-decoration: none;
  font-weight:600;
  opacity:0;
  animation:slidetop 1s ease forwards;
  animation-delay:2s;
  box-shadow:0 0 5px #0ef,
  0 0 25px #0ef
}
.btn-box:hover{
  box-shadow:0 0 5px cyan,
  0 0 25px cyan, 0 0 50px cyan,
  0 0 100px cyan,0 0 200px cyan;
}

.about{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  align-items:center;
  flex-direction:column;
  gap:1.5rem;
}
.about-img img{
  padding-bottom:20%;
  height:500px;
  width:50%;
  box-sizing: border-box;
  margin-left:150px;

  border-radius:0%;
}
.about-text h2{
  font-size:35px;

}
.about-text h2 span{
   color:#0ef
}
.about-text h4{
  font-size:22px;
  font-weight:600;
  color:#fff;
  line-height:1.7;
  margin:15px 0 30px;
}
.about-text p{
  color:aliceblue;
  font-size:17px;
  line-height:1.4;
  margin-bottom:3rem;
  margin-right:30px;
}
.read{
     color:violet
}







.text{
  color:pink
}

@keyframes slideRight{
  0%{
    transform:translatex(-100px);
    opacity:0;
  }
  100%{
    transform:translateX(0px);
    opacity:1;
  }
}

@keyframes slideleft{
  0%{
    transform:translatex(100px);
    opacity:0;
  }
  100%{
    transform:translateX(0px);
    opacity:1;
  }
}

@keyframes slidetop{
  0%{
    transform:translatey(-100px);
    opacity:0;
  }
  100%{
    transform:translatey(0px);
    opacity:1;
  }
}

@keyframes slidebottom{
  0%{
    transform:translatey(-100px);
    opacity:0;
  }
  100%{
    transform:translatey(0px);
    opacity:1;
  }
}

.main-text{
  padding-top:100px;
  margin-top:150px;
}
.main-text h2{
  font-size:60px;
  line-height: 1;
  text-align:center;
}
.main-text h2 span{
  color:#0ef;
}

.portfolio-content{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(359px, auto));
  margin-left:0%;
}

.row{
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor:pointer;
}
.row img{
   width:100%;
   border-radius: 8px;
   display: block;
   transition:transform 0.5s;
}


.layer{
  width:100%;
  height:0;
  background: linear-gradient(rgba(0,0,0,0.1),#0ef);
  position:absolute;
  border-radius:8px;
  margin-left:0px;
  bottom:0;
  overflow:hidden;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.layer h5{
  color:#000;
  font-size:20px;
  font-weight:600;
  margin-bottom:15px;

}
.layer i{
  color:#ff004f;
  margin-top:20px;
  font-size:20px;
  background:#fff;
  width:60px;
  height:60px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
}

.row:hover img{
  transform: scale(1.1);

}
.row:hover .layer{
  height:100%;
}

.contact{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  align-items:center;
  gap:3rem;
  padding-left:30px;
  margin-top:100px;
  margin-left:10%;

}

.contact-text h2{
  font-size:60px;
  line-height:3;
  text-align:start; 

}

.contact-text h2 span{
  color:#0ef
}

.contact-text h4{
  margin:15px 0;
  color:rgb(228,228,228);
  font-size:20px;
  font-weight:600;
}

.contact-list li{
  margin-bottom:10px;
  display:block;

}

.contact-list li{
  margin-bottom:0px;
  display:block;

}

.contact-list i{
      display:inline-block;
      color:#0ef;
      font-size:20px;
      font-weight:600;
      transition:all .40s ease;
}

.contact-list li a:hover{
  transform:scale(1.01) translateY(-5px);
  color:#0ef
}

.contact-icons i{
    display:inline-table;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    background:transparent;
    border:6px solid #0ef;
    border-radius:50%;
    font-size:20px;
    color:#0ef;
    text-decoration:none;
    margin:30px 15px 30px 0;
    transition: .5s ease;
    opacity:0;
    animation:slideleft 1s ease forwards;
    animation-delay: calc(.1s * var(--1));
}

.contact-list i:hover{
     background:#0ef;
     color:#000;
     box-shadow: 0 0 20px #0ef;

}

.contact-form form{
  position:relative;

}
.contact-form form input, form textarea{
   border: none;
   outline: none;
   width:90%;
   padding:18px;
   background:#555557;
   color:#000;
   font-size:1rem;
   font-weight:600;
   margin-bottom:0.5rem;
   border-radius:0.5rem;
}

.contact-form textarea{
  resize:none;
  height:220px;

}
.contact-form .send{
  display:inline-block;
  padding:14px 60px;
  background:#0ef;
  border-radius:40px;
  font-size:18px;
  color:#081b29;
  letter-spacing:1px;
  text-decoration:none;
  font-weight:600;
  opacity:0;
  animation:slideTop 1s ease forwards;
  animation-delay:2s;
  box-shadow: 0 0 5px #0ef,
  0 0 25px #0ef;
}

.contact-form form .send:hover{
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 
  0 0 100px cyan, 0 0 200px cyan;
}

.top{
  position:fixed;
  bottom:2.1rem;
  left:2.1rem;
}

.top i{
  color:#000000;
  background:#0ef;
  font-size:20px;
  padding:10px;
  border-radius: 0.5rem;
}


#services{
  color:aliceblue;
  font-size:20px;
  line-height:1.4;
  margin-bottom:15rem;

}
.sub-title{
   text-align:center;
   font-size:40px;
   margin-top:100px;
}
.sub-title span{
      color:#0ef;
}




.cards{
   display:inline-flex;
   margin-top:50px;
   margin-left:20%;
   align-items: center;
   animation:slidebottom 3s ease forwards;
   animation-delay:1s;
}

.card1{
  background-color: transparent;
  font-size: 13px;
  border-right:10px;
  border-radius:20px;
  transition:background 0.5, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7;
  height:300px;
  width:300px;
  padding:20px;
}

.card2{
  background-color: transparent;
  font-size: 13px;
  border-right:10px;
  border-radius:20px;
  transition:background 0.5, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7;
  height:300px;
  width:300px;
  margin-left:150px;
  padding:20px;
}
 

.sub-title{
  padding-bottom:10px;
  padding-top:30px;
}

.section{
  display:flex;
  flex-wrap:wrap;
}
.container1{
  width:50%;
  height:700px;
  padding:75px 90px;
  margin-left:30px;
}
.heading{
  text-align:center;
  text-decoration:underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom:50px;
}
.bar{
  font-size:23px;
}
.Technical-bars .bar{
    margin: 40px 0;
}
.Technical-bars .bar:first-child{
     margin-top: 0;
}
.Technical-bars .bar:last-child{
  margin-bottom: 0;
}
.Technical-bars .bar .info{
  margin-bottom:5px;
}
.Technical-bars .bar .info span{
  font-size: 17px;
  font-weight: 500;
  animation:showtext 0.5s 1s linear forwards;
  opacity:0;
}
.Technical-bars .bar .progress-line{
  position:relative;
  border-radius: 10px;
  width:100%;
  height:5px;
  background-color:#000;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1)  forwards;
  transform:scalex(1);
  transform-origin: left;
}

@keyframes animation{
  100%{
    transform: scaleX(5);
  }
}
.Technical-bars .bar .progress-line span{
  height:100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  transform: scaleX(1);
  transform-origin: left;
}
.progress-line.html span{
  width: 90%;
}
.progress-line.css span{
  width: 85%;
}
.progress-line.bootstrap span{
  width: 75%;
}
.progress-line.javascript span{
  width: 80%;
}
.progress-line.react span{
  width: 70%;
}
.progress-line.figma span{
  width: 90%;
}
.progress-line.wordpress span{
  width: 90%;
}
.progress-line.designing-tools span{
  width: 90%;
}

.progress-line span::after{
  position:absolute;
  padding:1px 8px;
  background-color:#000;
  color:#fff;
  font-size:12px;
  border-radius:3px;
  top:-28px;
  right:-20px;
  animation: showtext 0.5s 1.5s linear forwards;
  opacity:0;
}

.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "85%";
}
.progress-line.bootstrap span::after{
  content: "75%";
}
.progress-line.javascript span::after{
  content: "80%";
}
.progress-line.react span::after{
  content: "70%";
}
.progress-line.figma span::after{
  content: "90%";
}
.progress-line.wordpress span::after{
  content: "90%";
}
.progress-line.designing-tools span::after{
  content: "90%";
}

.progress-line span::before{
  content: "";
  position: absolute;
  width:0;
  height: 0;
  border:7px solid transparent;
  border-bottom-width:0px;
  border-right-width: 0px;
  border-top-color: #000;
  top:-10px;
  right:0;
  animation:showtext 0.5s 1.5s linear forwards;
  opacity: 0;
}

@keyframes showtext{
    100%{
      opacity:2;
    }
}

.heading1{
  text-decoration:underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
  text-align:center;
}
.radial-bars{
  width:50%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;

}
.radial-bars .radial-bar{
  width:50%;
  height:170px;
  margin-bottom: 10px;
  position: relative;
}
.radial-bars .radial-bar svg{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width:120px;
  height:160px;
}
.radial-bars .radial-bar .progress-bar{
  stroke-width: 10;
  stroke:fuchsia;
  fill:transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;

}

@keyframes animate-bar{
  100%{
    stroke-dashoffset: -1;
  }
}
.path{
  stroke-width:10;
  stroke:#0ef;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;

}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-1{animation: animate-path1 1s 1s linear forwards;}

@keyframes animate-path1{
     100%{
      stroke-dashoffset: 50;
     }
}
@keyframes animate-path2{
  100%{
    stroke-dashoffset: 175;
  }
}
@keyframes animate-path3{
  100%{
    stroke-dashoffset: 125;
  }
}
@keyframes animate-path4{
  100%{
    stroke-dashoffset: 75;
  }
}

.radial-bar .percentage{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size: 17px;
}
.progress-bar .text{
  width:100%;
  position: absolute;
  text-align: center;
  left:50%;
  bottom: -5px;
  transform: translateX(-50%);
  font-size: 17px;
  font-weight: 500;
  animation: showtext 0.5s 1s linear forwards;
  opacity:0;

}

.row13{
  margin-top:100px;
}
.row{
  margin-left: 20px;
  margin-bottom:5px;
}

